<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_head')  %>
  <!-- Page-specific -->
  <title>Edit your Stories</title>
  <link rel="stylesheet" href="/styles/edit_stories.css" type="text/css" />
</head>
<body>
  <%- include('partials/_header')  %>
  <main>
    <h2><%= contributions[0]["title"] %></h2>
    <p class="description"><%= contributions[0]["description"] %></p>
    <form class="update_description" method="POST">
      <textarea name="description" id="description" rows="2" cols="100"></textarea>
      <button type="submit">Update Description</button>
    </form>
    <h2>Latest Contributions</h2>
    <table class="contributions">
      <tr>
        <th>Text</th>
        <th>Author</th>
        <th class="upvotes">Upvotes</th>
        <th></th>
      </tr>
      <% for (let contribution in contributions) { %>
        <tr>
          <td><%= contributions[contribution]["content"] %></td>
          <td><%= contributions[contribution]["name"] %></td>
          <td class="upvotes"><%= contributions[contribution]["upvotes"] %></td>
          <td>
            <button class="preview">Preview</button>
            <button class="accept">Accept</button>
          </td>
        </tr>
      <% } %>
    </table>
    <h2>Complete Story</h2>
    <div class="complete_story">
      <p>Mark your story as complete. (Warning! This cannot be undone)</p>
      <button>Complete Story</button>
    </div>
    <br><br>
  </main>
</body>
</html>
