<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_head')  %>
  <!-- Page-specific -->
  <title>My Stories</title>
  <link rel="stylesheet" href="/styles/my_stories.css" type="text/css" />
</head>
<body>
  <%- include('partials/_header')  %>
  <main>
    <h1>My Stories</h1>
    <table class="stories">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Author(s)</th>
      </tr>

      <% for (let story in stories) { %>
        <tr>
          <td class="title">
            <%= stories[story]["title"] %>
            <br>
            <div>
              <form action="/stories/<%= stories[story]['id'] %>/view" method="GET">
                <button id="view">View</button>
              </form>
              <form action="/stories/<%= stories[story]['id'] %>/edit" method="GET">
                <button id="edit">Edit</button>
              </form>
            </div>
          </td>
          <td><%= stories[story]["description"] %></td>
          <td><%= stories[story]["status"] %></td>
          <td><%= stories[story]["creator"] %><%= stories[story]["contributors"] %></td>
        </tr>
      <% } %>
    </table>
    <br><br>
  </main>
</body>
</html>
