<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_head')  %>
  <!-- Page-specific -->
  <title>View Contributions</title>
  <link rel="stylesheet" href="/styles/view_contributions.css" type="text/css" />
  <script type="text/javascript" src="/scripts/upvoter.js"></script>
</head>
<body>
  <%- include('partials/_header')  %>
  <main>
    <h2>The Story isn't over... Vote on what happens next!</h2>
    <section class="contributions">
      <% for (const contribution of contributions) { %>
        <div>
          <img src="<%= contribution['photo_url'] %>">
          <p class="upvotes">Total Upvotes: <span class="upvote_count" data-contribution="<%= contribution.id %>"><%= contribution.upvotes %></span></p>
          <% if (contribution.user_voted > 0) { %>
            <button disabled id="voted">Voted</button>
          <% } else { %>
            <button class="upvote" data-contribution="<%= contribution.id %>" data-user="<%= user.user_id %>">Upvote</button>
          <% } %>
          <p><%= contribution['content'] %></p>
        </div>
      <% } %>
    </section>
    <br>
    <section class="back">
      <form action="/stories/<%= contributions[0]['story_id'] %>/view" method="GET">
        <button id="back"><b>Back</b> to the Story</button>
      </form>
      <br><br>
    </section>
  </main>
</body>
</html>
