<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_head')  %>
  <!-- Page-specific -->
  <title>View Contributions</title>
  <link rel="stylesheet" href="/styles/view_contributions.css" type="text/css" />
</head>
<body>
  <%- include('partials/_header')  %>
  <main>
    <h2>The Story isn't over... Vote on what happens next!</h2>
    <section class="contributions">
      <% for (let contribution in contributions) { %>
        <div>
          <img src="<%= contributions[contribution]['photo_url'] %>">
          <form action="/stories/<%= contributions[contribution]['story_id'] %>/contribution/<%= contributions[contribution]['id'] %>/upvote" method="POST">
            <% if (userVoted.length > 0) { %>
              <button disabled>Upvote</button>
              <% if (userVoted[0]['contribution_id'] === contributions[contribution]['id']) { %>
                <p id="voted">You voted for this one already!</p>
              <% } %>
            <% } else { %>
              <button>Upvote</button>
            <% } %>
          </form>
          <p><%= contributions[contribution]['content'] %></p>
        </div>
      <% } %>
    </section>
    <br>
    <section class="back">
      <form action="/stories/<%= contributions[0]['story_id'] %>/view" method="GET">
        <button id="back"><b>Back</b> to the Story</button>
      </form>
      <br><br>
    </section>
  </main>
</body>
</html>
