<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_head')  %>
  <!-- Page-specific (remove '/public' when using as template)-->
  <title>View Stories</title>
  <link rel="stylesheet" href="/styles/view_story.css" type="text/css" />
  <link rel="stylesheet" href="/styles/snow.css" type="text/css" />
  <link rel="stylesheet" href="/styles/fog.css" type="text/css" />
  <link rel="stylesheet" href="/styles/rain.css" type="text/css" />
  <script type="text/javascript" src="/scripts/story.js"></script>
</head>
<body>
  <%- include('partials/_header')  %>
  <main>
    <div class="container">
      <!-- TITLE -->
      <div class="page" id="title">
        <img src="<%= entries[0].creator_photo %>">
        <h1>Story Title</h1>
        <p><b>By:</b> <%= entries[0].creator %> <% for (const [index, entry] of Object.entries(entries)) {%>
          <% if(index >= entries.length - 1 && (entry.contributor)) { %>
          <%=", and " + entry.contributor %>
          <% } else if (entry.contributor) { %>
          <%=", " + entry.contributor%>
          <% }} %></p>
        <br>
      </div>
      <!-- FIRST ENTRY -->
      <div class="page" id="entry_1">
        <% if (entries[0].creator_animation === 'rain') { %>
        <div class="rainwrapper">
          <div class="rain front-row"></div>
          <div class="rain back-row"></div>
        </div>
       <% } else if (entries[0].creator_animation === 'fog') { %>
        <div class="fogwrapper">
          <div id="foglayer_01" class="fog">
            <div class="fog_image01"></div>
            <div class="fog_image02"></div>
          </div>
          <div id="foglayer_02" class="fog">
            <div class="fog_image01"></div>
            <div class="fog_image02"></div>
          </div>
          <div id="foglayer_03" class="fog">
            <div class="fog_image01"></div>
            <div class="fog_image02"></div>
          </div>
        </div>
      <% } else if (entries[0].creator_animation === 'snow') { %>
        <div class="snowwrapper">
          <div class="snow"></div>
        </div>
      <% } %>
        <img src="<%=entries[0].creator_photo%>">
        <p><%=entries[0].first_entry%></p>
        <data id="entry_1_sound" value="<%=entries[0].creator_sound%>"></data>
      </div>
      <!-- CONTRIBUTOR ENTRIES -->
      <% if (entries[0].contributor) { %>
        <% for (const entry of entries) { %>
          <div class="page" id="entry_<%=entry.ord%>">
            <% if (entry.contributor_anim === 'rain') { %>
            <div class="rainwrapper">
              <div class="rain front-row"></div>
              <div class="rain back-row"></div>
            </div>
          <% } else if (entry.contributor_anim === 'fog') { %>
            <div class="fogwrapper">
              <div id="foglayer_01" class="fog">
                <div class="fog_image01"></div>
                <div class="fog_image02"></div>
              </div>
              <div id="foglayer_02" class="fog">
                <div class="fog_image01"></div>
                <div class="fog_image02"></div>
              </div>
              <div id="foglayer_03" class="fog">
                <div class="fog_image01"></div>
                <div class="fog_image02"></div>
              </div>
            </div>
          <% } else if (entry.contributor_anim === 'snow') { %>
            <div class="snowwrapper">
              <div class="snow"></div>
            </div>
          <% } %>
            <img src="<%=entry.contributor_photo%>">
            <p><%=entry.contributor_entry%></p>
            <data id="entry_<%=entry.ord%>_sound" value="<%=entry.contributor_sound%>"></data>
            <data id="entry_<%=entry.ord%>_position" value="<%=entry.contributor_position%>"></data>
          </div>
        <% } %>
      <% } %>
      <!-- VOTE ON CONTRIBUTIONS -->
      <div class="page">
        <h2>The Story isn't over... Vote on what happens next!</h2>
        <section class="top_contributions">
          <% for (const contribution of pendingContributions) { %>
            <div>
              <img src="<%=contribution.photo_url%>">
              <button>Upvote</button>
              <p><%=contribution.content%></p>
            </div>
          <% } %>
        </section>
        <form action="/stories/view_contributions/story_id/<%=storyID%>" method="GET">
          <button id="all_contributions"> See All Contributions</button>
        </form>
        <br>
        <section class="new_contribution">
          <h2>Want your say? Make a new contribution.</h2>
          <form action="/stories/create_contribution/story_id/<%=storyID%>" method="GET">
            <button>Contribute to the story</button>
          </form>
          <br><br>
        </section>
      </div>
    </div>
  </main>
</body>
</html>
